<!-- ======= Header ======= -->
<header id="header" class="header fixed-top d-flex align-items-center">

    <div class="d-flex align-items-center justify-content-between">
      <a href="/Dashboard" class="logo d-flex align-items-center">
        <img src="./assets/img/logo.png" alt="">
        <span class="d-none d-lg-block">AI Dietician System</span>
      </a>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    
                    <li class="nav-item">
                        <a class="nav-link" href="/faq.ejs">FAQ</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../pages-contact.ejs">Contact Us</a>
                    </li>
                </ul>
                <div class="d-flex">
                  <a href="/login" class="btn btn-outline-primary">Sign In</a>
                  <a href="/register" class="btn btn-primary ml-2">Create Account</a>
              </div>
            </div>
    </div><!-- End Logo -->

</html>

  
    <nav class="header-nav ms-auto">
      <ul class="d-flex align-items-center">
        
        
      </ul>
    </nav><!-- End Icons Navigation -->
  
  </header>
  <!-- ======= End Header ======= -->